// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "ui-sans-serif,system-ui,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji";
}

.cinema-rate-p {
  background-color: #579b41;
}
.cinema-rate-pg-13 {
  background-color: #ddbc3f;
}
// .cinema-rate-orange {
//   background-color: #e88021;
// }
.cinema-rate-r {
  background-color: #9b2020;
}
.cinema-rate-pg {
  background-color: #006ee6;
}
