#booking {
  > div {
    @media (min-width: 768px) {
      width: 80%;
    }
    @media (min-width: 992px) {
      width: 60%;
    }

    .card {
      .card-header {
        background: rgba(216, 45, 139, 1);
        color: #fafafa;
      }
      .card-body {
        :nth-child(1) {
          span {
            height: 2px;
            width: 50%;
          }
        }
        .des-seat {
          div {
            width: fit-content;
            span {
              width: 1.2rem;
              height: 1.2rem;
              &.empty {
                background: rgb(245, 34, 45);
              }

              &.block {
                background: rgba(64, 64, 64, 1);
              }

              &.booking {
                background: rgba(216, 45, 139, 1);
              }
            }
          }
        }
      }
      .card-footer {
        font-size: 12px;
        p {
          @media (min-width: 768px) {
            font-size: initial;
          }
          @media (min-width: 960px) {
            font-size: 1.1rem;
          }
        }
        button {
          font-size: 14px;
          @media (min-width: 960px) {
            font-size: 1.2rem;
          }
          &:hover {
            opacity: 0.8;
          }
          &.btn-payment {
            background: rgba(216, 45, 139, 1);
            color: #fafafa;
          }
        }

        i {
          font-size: 1.2rem;
        }
        .short-info {
          p {
            color: rgb(249, 115, 22);
          }
        }
      }
    }
  }
}
